
  <div class="container">
    <div class="row">
      <!-- Primeira linha de cards -->
      <div class="col-md-6">
        <div class="card-container">
          <p-card header="Information" [style]="{ width: '260px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="https://i.pinimg.com/564x/d3/65/6a/d3656af8544b75d6aea4536c703abc42.jpg" />
            </ng-template>
             <div><strong>Name:</strong> {{ people1.name }}</div> 
             <div><strong>Gender:</strong> {{ people1.gender }}</div> 
             <div><strong>mass:</strong> {{ people1.mass }}</div> 
             <div><strong>Hair Color:</strong> {{ people1.hair_color }}</div> 
             <div><strong>Skin Color:</strong> {{ people1.skin_color }}</div> 
             <div><strong>Eye Color:</strong> {{ people1.eye_color }}</div> 
             <div><strong>Birth Year:</strong> {{ people1.birth_year }}</div> 
          </p-card>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-container">
          <p-card header="Information" [style]="{ width: '260px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="https://lumiere-a.akamaihd.net/v1/images/image_6fbde8ae.jpeg?region=0%2C0%2C1560%2C878" />
            </ng-template>
             <div><strong>Name:</strong> {{ people2.name }}</div> 
             <div><strong>Gender:</strong> {{ people2.gender }}</div> 
             <div><strong>mass:</strong> {{ people2.mass }}</div> 
             <div><strong>Hair Color:</strong> {{ people2.hair_color }}</div> 
             <div><strong>Skin Color:</strong> {{ people2.skin_color }}</div> 
             <div><strong>Eye Color:</strong> {{ people2.eye_color }}</div> 
             <div><strong>Birth Year:</strong> {{ people2.birth_year }}</div> 
          </p-card>
        </div>
      </div>
    </div>
    <!-- Segunda linha de cards -->
    <div class="row">
      <div class="col-md-6">
        <div class="card-container">
          <p-card header="Information" [style]="{ width: '260px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLvk4BoNYv97eoCFHAgD3UQeRzkY9Ycmd8idPsGx_llmq165vnL790GpN_kL5fYiREQOY&usqp=CAU" />
            </ng-template>
             <div><strong>Name:</strong> {{ people3.name }}</div> 
             <div><strong>Gender:</strong> {{ people3.gender }}</div> 
             <div><strong>mass:</strong> {{ people3.mass }}</div> 
             <div><strong>Hair Color:</strong> {{ people3.hair_color }}</div> 
             <div><strong>Skin Color:</strong> {{ people3.skin_color }}</div> 
             <div><strong>Eye Color:</strong> {{ people3.eye_color }}</div> 
             <div><strong>Birth Year:</strong> {{ people3.birth_year }}</div> 
          </p-card>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-container">
          <p-card header="Information" [style]="{ width: '260px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="https://ew.com/thmb/s9lfdTOmEcMNX5OfFFA3_9zzBqg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/darth_vader_by_wraithdt-ca8a06699d334128a219abcaa62a1b9b.jpg" />
            </ng-template>
             <div><strong>Name:</strong> {{ people4.name }}</div> 
             <div><strong>Gender:</strong> {{ people4.gender }}</div> 
             <div><strong>mass:</strong> {{ people4.mass }}</div> 
             <div><strong>Hair Color:</strong> {{ people4.hair_color }}</div> 
             <div><strong>Skin Color:</strong> {{ people4.skin_color }}</div> 
             <div><strong>Eye Color:</strong> {{ people4.eye_color }}</div> 
             <div><strong>Birth Year:</strong> {{ people4.birth_year }}</div> 
          </p-card>
        </div>
      </div>
    </div>
  </div>

