
  <div class="container">
    <div class="row">
      <!-- Primeira linha de cards -->
      <div class="col-md-6">
        <div class="card-container">
          <p-card header="Information" [style]="{ width: '260px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="https://i.pinimg.com/564x/d3/65/6a/d3656af8544b75d6aea4536c703abc42.jpg" />
            </ng-template>
             <div><strong>Name:</strong> {{ people.name }}</div> 
             <div><strong>Gender:</strong> {{ people.gender }}</div> 
             <div><strong>mass:</strong> {{ people.mass }}</div> 
             <div><strong>Hair Color:</strong> {{ people.hair_color }}</div> 
             <div><strong>Skin Color:</strong> {{ people.skin_color }}</div> 
             <div><strong>Eye Color:</strong> {{ people.eye_color }}</div> 
             <div><strong>Birth Year:</strong> {{ people.birth_year }}</div> 
          </p-card>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-container">
          <p-card header="Information" [style]="{ width: '260px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="https://i.pinimg.com/564x/d3/65/6a/d3656af8544b75d6aea4536c703abc42.jpg" />
            </ng-template>
             <div><strong>Name:</strong> {{ people.name }}</div> 
             <div><strong>Gender:</strong> {{ people.gender }}</div> 
             <div><strong>mass:</strong> {{ people.mass }}</div> 
             <div><strong>Hair Color:</strong> {{ people.hair_color }}</div> 
             <div><strong>Skin Color:</strong> {{ people.skin_color }}</div> 
             <div><strong>Eye Color:</strong> {{ people.eye_color }}</div> 
             <div><strong>Birth Year:</strong> {{ people.birth_year }}</div> 
          </p-card>
        </div>
      </div>
    </div>
    <!-- Segunda linha de cards -->
    <div class="row">
      <div class="col-md-6">
        <div class="card-container">
          <p-card header="Information" [style]="{ width: '260px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="https://i.pinimg.com/564x/d3/65/6a/d3656af8544b75d6aea4536c703abc42.jpg" />
            </ng-template>
             <div><strong>Name:</strong> {{ people.name }}</div> 
             <div><strong>Gender:</strong> {{ people.gender }}</div> 
             <div><strong>mass:</strong> {{ people.mass }}</div> 
             <div><strong>Hair Color:</strong> {{ people.hair_color }}</div> 
             <div><strong>Skin Color:</strong> {{ people.skin_color }}</div> 
             <div><strong>Eye Color:</strong> {{ people.eye_color }}</div> 
             <div><strong>Birth Year:</strong> {{ people.birth_year }}</div> 
          </p-card>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-container">
          <p-card header="Information" [style]="{ width: '260px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="https://i.pinimg.com/564x/d3/65/6a/d3656af8544b75d6aea4536c703abc42.jpg" />
            </ng-template>
             <div><strong>Name:</strong> {{ people.name }}</div> 
             <div><strong>Gender:</strong> {{ people.gender }}</div> 
             <div><strong>mass:</strong> {{ people.mass }}</div> 
             <div><strong>Hair Color:</strong> {{ people.hair_color }}</div> 
             <div><strong>Skin Color:</strong> {{ people.skin_color }}</div> 
             <div><strong>Eye Color:</strong> {{ people.eye_color }}</div> 
             <div><strong>Birth Year:</strong> {{ people.birth_year }}</div> 
          </p-card>
        </div>
      </div>
    </div>
  </div>

